option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: url_shortener/wsgi.py
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/python_apps.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current
      python manage.py runserver